#pitch-image {
  width: 380px;
  height: 152px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 180px;
}

.menu {
  position: absolute;
  top: -120px;
  width: 602px;
  height: 66px;
  left: 550px;
}

.menuItem {
  float: left;
  list-style-type: none;
  padding:22px;
  border-right: 1px solid black;
  font-size: 14px;
  color:none;

}

.menuItem:last-child {
  border-right: 0;
}

a {
  color:none;
}

#TEXT {
  font-size: 21px;
  position: relative;
  text-align: center;
  margin-top: -3ch;
  padding: 0.1px;
  line-height: 0ch;
  left: 0.1px;
}

#text2 {
  color: red;
}

#text3 {
  color: red;
}

.image1 {
  width: 53px;
  height: 53px;
  -o-object-fit: cover;
  object-fit: cover;
}

#LnkBr4-rgc {
  margin-right: -30px;
  top: 2px;
  margin-top: -4ch
}

.lb1imageItem {
  float: right;
  list-style-type: none;
  margin-left: 10px
}

.menuItemHref:hover{
 color: green;
}

#SITE_HEADER{
  height: 30px;
}
