#myform1 {
  width: 150px;
  left:-1px;
}

#myform2 {
  width: 150px;
}

.container {
  margin-top: 15ch
}

.btn btn-primary {
  color: #0275d8;
}

.container {
  
  height: 400px;
  margin-bottom: 2ch;
  margin-top: 7ch;
  width:100ch;
}

.section2{
  background: #DFDFDF;
  height: 400px;
  padding-top: 1ch;
  
}
